<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <script>
        location.href = 'http://dannielgutierrez90.wixsite.com/mysite';
    </script>
  </body>
</html>
